.table {
  th {
    font-weight: 600;
  }

  td,
  th {
    padding: .25em;
  }
}



.branch-hours-table {
  width: 100%;

  th {
    color: palette(base, dark);
    font-weight: 700;
    text-align: left;
  }

  tr {
    th:first-child,
    td:first-child {
      padding-left: 0;
      padding-right: 1em;
    }
  }

  .today {
    font-weight: 700;
  }
}



//
// Pseudo tables
// ----------------------------------------
.table-row {
  @include clearfix;
}

.table-header,
.table-content {
  float: left;
}

.table-header {
  padding-right: 1em;
  width: 65%;
}

.table-content {
  width: 35%;
}
