<div class="site-content">
  <main class="container" id="pjax_container" role="main" data-pjax-container>
    <div class="page">
      <%if flash[:notice] %>
          <div class="alert"><%= flash[:notice].to_s%></div>
      <%end%>
      <div class="login">
      <form autocomplete="false" action="/yabeta/login/" method="post" role="form" class="login-form">
        <div class="form-group">
          <label for="card" class="form-label">Library card number (no spaces)</label>
          <input type="text" id="card" name="card" class="form-control" placeholder="Enter library card number" value="">
        </div>
        <div class="form-group">
          <label for="pin" class="form-label">PIN or last 4 digits of phone number</label>
          <input type="password" id="pin" name="pin" class="form-control" placeholder="Enter PIN" style="width: 125px;">
        </div>

        <div class="form-group">
          <label for="rememberme" class="form-label">Remember Me</label>
          <input type="checkbox" id="rememberme" name="rememberme" class="form-control">
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <p><a href="/using-the-library/help/new-site-faq.jsp#remember-pin">Find out how to get your browser to remember your library card and PIN numbers.</a></p>
      </form>
    </div>
    </div>
  </main>
</div>
