//
// Cards
// --------------------------------------
.cards {
  @include clearfix;
}

.card {
  margin-bottom: 1em;
}

.card-title {
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 0;
  @include font-size(h5);
}

.card-header {
  padding: .75em 1em;

  a {
    text-decoration: underline;
  }
}

.card-content {
  padding: 1em;
}

//
// Card colours
// --------------------------------------
.card-default {
  background-color: palette(base, light);

  .card-header {
    background-color: palette(base);
    color: #fff;
  }
}

.card-primary {
  background-color: palette(primary, opaque);

  .card-header {
    background-color: palette(primary, light);

    &,
    a,
    button {
      color: #fff;
    }

    a,
    button {
      text-decoration: underline;
    }
  }
}

//
// Card row
// --------------------------------------
.card-row {
  margin-left: -1em;
  margin-right: -1em;
  padding: 1em;
  @include clearfix;

  & + & {
    border-top: 1px solid palette(primary, light);
  }

  &:first-child {
    margin-top: -1em;
  }

  &:last-child {
    margin-bottom: -1em;
  }
}

.card-row-header {
  float: left;
  width: 45%;

  img {
    display: block;
    margin-top: .25em;
  }
}

.card-row-content {
  float: left;
  margin-left: 5%;
  width: 50%;
}

//
// Card components
// --------------------------------------
.branch-card {
  .branch-name {
    margin-bottom: .25em;
    margin-top: 0;
  }
}
