.help {
  margin-bottom: 0;
  margin-top: .25em;
  @include font-size-rem(1.0);

  @include breakpoint($bp-desktop) {
    @include font-size-rem(1.2);
  }

  .setting & {
    color: palette(base, dark);
    max-width: 70%;
  }
}
