//
// Section
// --------------------------------------
%section {
  margin-bottom: 2em;
}

%section-header {
  margin-bottom: 1em;
  @include clearfix;

  @include breakpoint($bp-desktop) {
    margin-bottom: 1.5em;
  }
}

%section-title {
  font-weight: 500;
  letter-spacing: -1px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: capitalize;
  @include font-size(h1);
}
